# Dependency directories
node_modules/

# NestJS build output
dist/

# Environment variables file
.env

# IDE or editor specific files
.vscode/
.idea/

# Log files
*.log

# macOS specific files
.DS_Store

# TypeScript build output
*.js
*.map
*.d.ts

# Enabling eslintrc.js
!.eslintrc.js